@model List<Product>
@{
    ViewData["Title"] = "Index";
}

<h1>List of all products</h1>

@foreach (Product prod in Model)
            {
    <div><a href="/product/productdetails?prod=@prod.id">Name: @prod.name Price: @prod.price</a></div>
            }