@model Product
@{
    ViewData["Title"] = "ProductDetails";
}

<h1>Product Details</h1>

<div>Name: @Model.name</div>
<div>Description: @Model.description</div>
<div>Price: @Model.price</div>
<div>Category: @Model.category</div>